<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Tabuleiro</title>
</head>
<body>
<div class="container">
    <h2>Partida</h2>

    <p>Tabuleiro</p>
    <ul>
        {% for jogada in jogadas%}
        <li>{{jogada}}</li>
        {%endfor%}
    </ul>

    <div>
        <p>linha da jogada - {{linha_jogada}}</p>
        <p>coluna da jogada - {{coluna_jogada}}</p>
    </div>
    <p>{{resultado}}</p>

</div>
</body>
</html>